.about {
    padding: 44px 47px;
    display: flex;
    flex-direction: column;

    & .title-about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & .title-about h2 {
        font-weight: 500;
        font-size: 40px;
    }

    & .title-about p {
       font-weight: 400;
       font-size: 20px;
       color: var(--color-primary);
    }

    & .about-me {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
    }

    & .image-about img {
        width: 400px;
        height: auto;
    }

    & .text-about {
        max-width: 780px;
    }

    & .text-about h3 {
        font-weight: 400;
        color: var(--color-tertyary);
        font-size: 24px;
    }

    & .text-about p {
        font-weight: 400;
        color: var(--color-secondary);
        font-size: 16px;
        margin-top: 16px;
    }

    & .skils-about {
        margin-top: 16px;
    }

    & .skils-about h3 {
        font-weight: 400;
        color: var(--color-tertyary);
        font-size: 22px;
    }

    & .my-skils {
        margin-top: 16px;
        display: flex;
        max-width: 250px;
        flex-wrap: wrap;
        gap: 10px;
    }

    & .skils-circle-text {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 10px;
    }

    & .skils-circle-text p {
        margin: 0;
    }

    & .circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--color-primary);
    }
}

@media screen and (max-width: 500px) {
    .about {
        padding: 20px;
    }

    .about .title-about h2 {
        font-size: 30px;
    }

    .about .title-about p {
        font-size: 16px;
    }

    .about .about-me {
        flex-direction: column;
        gap: 15px;
    }

    .about .about-me .image-about {
        margin-top: 20px;
    }

    .about .about-me .image-about img {
        width: 250px;
        height: auto;
        border-radius: 50%;
    }

    .about .about-me .text-about h3 {
        font-size: 20px;
    }

    .about .about-me .text-about p {
        font-size: 14px;
        text-align: justify;
        margin-top: 8px;
    }

    .about .about-me .text-about .skils-about h3 {
        font-size: 20px;
    }

    .about .about-me .text-about .my-skils {
        max-width: 100%;
        margin-top: 8px;
    }

    .about .about-me .text-about .my-skils .skils-circle-text .circle p {
        font-size: 14px;
    }
    
    


    


    
}