footer {
    background-color: #111111;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", serif;
    font-size: 16px;
    text-align: center;
}

.style-footer {
    color: #3f3fe1;
}

@media screen and (max-width: 1200px) {
    footer {
        padding: 20px;
        font-size: 12px;
    }
}