* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --color-primary: #574BFF;
    --color-secondary: #676363;
    --color-tertyary: #000;
    --stroke-color: #8D8B8B;
}

html, body {
    overflow-x: hidden; /* Esconde qualquer rolagem horizontal */
    width: 100%;
}

.main-container {
    height: 100vh;
}


