* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html, body {
    overflow-x: hidden; /* Esconde qualquer rolagem horizontal */
    width: 100%;
}

.main-container {
    height: 100vh;
    background-color: #121212;
}
