.habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 200px;
}

.habilidades .titulo-habilidades h2{
    font-family: var(--font);
    font-size: 30px;
    color: var(--color-titulo);
}

.images-habilidades-geral {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.habilidades .images-habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.habilidades .images-habilidades img {
    width: 200px;
    height: auto;
}

.habilidades .images-habilidades-geral .images-habilidades .imagem-alterada {
    width: 110px;
    height: auto;
}

.habilidades .images-habilidades img:hover {
    width: 220px;
    transition: 0.7s ease-in-out;
}

@media  screen and (max-width: 1200px) {
    .habilidades .images-habilidades-geral {
        flex-wrap: wrap;
        gap: 10px;
    }

    .habilidades .images-habilidades {
        width: 60px;
    }

    .habilidades .images-habilidades-geral .images-habilidades img {
        width: 100px;
        height: auto;
    }

    .habilidades .images-habilidades-geral .images-habilidades .imagem-alterada {
        width: 50px;
        height: auto;
    }

}
