.main-container {
    display: flex;
    flex-direction: column;
}

.detail {
    display: flex;
}

.social-network {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2.5rem;
    margin-left: 1.875rem;
    height: 20rem;
}
  
.line {
    width: 2px; 
    height: 9.375rem;
    background-color: white;
    align-self: center;
}
  
.circle {
    width: 2.5rem;
    height: 2.5rem;
    background-color: blue;
    border-radius: 50%;
    margin-top: 0.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle img {
    width: 60%; 
    height: 60%;
    border-radius: 50%; 
    object-fit: cover;
}

nav {
    height: auto;
    display: flex;
    width: 100%;
    padding-top: 1.875rem;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 1.875rem;
    padding-left: 1.25rem;
    align-items: center;

}

.left h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}


span {
    color: #007bff;
}

.social-links {
    display: flex;
    gap: 1.25rem;
}

.social-links a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
}

.social-links a:hover {
    border-bottom: 1px solid white;
}

.social-network a:hover {
    transform: rotate(-20deg);
    transition: 0.6s;
}

.initial {
    margin-top: 2.625rem;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-inline: 7.875rem 13.625rem;
    width: 90%;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title h1 {
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    line-height: 100%;
    animation-name: move;
    animation-duration: 3s;
}

.title h1:nth-child(2) {
    margin-left: 50%;
    color: #FFFFFF;
    opacity: 70%;
}

.detail-initial {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.image-initial img {
    width: 21.875rem;
    height: 21.875rem;
    border-radius: 50%;
    object-fit: cover;
}

.image-initial {
    animation: moveimg ease-in-out;
    animation-duration: 3s;
}

@keyframes move {
    
    from {
        opacity: 0;
        translate: 500px 0;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes moveimg {
    from {
        opacity: 0;
        translate: 500px 0;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}
    


