.projects {

    padding-top: 30px;
    padding-bottom: 30px;
    & .title-projects {
        display: flex;
        justify-content: center;
    }

    & .title-projects h2 {
        font-weight: 500;
        font-size: 40px;
    }

    & .all-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 68px;
        gap: 20px;
    }

    & .my-projects {
        max-width: 562px;
        border: 2px solid var(--stroke-color);
        background-color: #f7f7f7;
        border-radius: 10px;
        padding-top: 18px;
        padding-bottom: 18px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        text-align: justify;
        padding-inline: 24px;
        gap: 18px;
    }

    & .image-projects {
        display: flex;
        justify-content: center;
    }

    & .image-projects img {
        width: 435px;
        height: auto;
    }

    & .title-projects h4 {
        font-size: 18px;
        font-weight: 500;
    }

    & .description-projects p {
        font-size: 14px;
        color: var(--color-secondary);
    }

    & .btn-projects {
        display: flex;
        justify-content: space-between;
    }

    & .btn-projects button {
        background-color: var(--color-primary);
        color: white;
        border: none;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
    }

    & .btn-projects button:hover {
        background-color: #4E3DFF;
        transition: 0.2s ease-in-out;
    }
}

@media screen and (max-width: 500px) {
    .projects {
        padding: 20px;
    }

    .projects .title-projects h2 {
        font-size: 25px;
    }

    .projects .all-projects {
        margin-top: 20px;
        padding: 0 20px;
    }

    .projects .all-projects .my-projects {
        max-width: 100%;
    }

    .projects .all-projects .my-projects .image-projects img{
        max-width: 100%;
    }

    .projects .all-projects .my-projects .title-projects h4 {
        font-size: 16px;
    }

    .projects .all-projects .my-projects .description-projects p {
        font-size: 14px;
    }

    .projects .all-projects .my-projects .btn-projects button {
        font-size: 12px;
        padding: 8px;
    }
}