.projects {
    padding-inline: 1.875rem;
    margin-top: 8.75rem;
    margin-bottom: 8.75rem;
}

.title-projects {
    display: flex;
    justify-content: center;
    margin-top: 2.9375rem;
}

.title-projects h2 {
    font-family: "Poppins", sans-serif;
    font-size: 3.375rem;
    font-weight: 600;
    color: #007bff;
}

.my-projects {
    margin-top: 3.75rem;
}

.exemple-project {
    display: flex;
    justify-content: center;
    gap: 2.6875rem;
    padding-block: 1.875rem;
}

.exemple-project img {
    border: 2px solid white;
}

.exemple-project:nth-child(1) img {
    border: none;
}

.description-project {
    width: 32.5625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.25rem;
}

.description-project h3 {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #007bff;
}

.description-project p {
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

.description-project a {
    text-decoration: none;
    background-color: #007bff;
    border-radius: 0.625rem;
    color: white;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: 13.4375rem;
    height: 3.125rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-project {
    width: 100%;
    background-color: white;
    height: 3px;
    margin-top: 0.625rem;
    border: 2px;
    margin-bottom: 0.625rem;
}


.description-project a:hover {
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

.exemple-project:nth-child(1) {
    animation: movewm ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

.exemple-project:nth-child(3) {
    animation: movelinkbio ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

.exemple-project:nth-child(5) {
    animation: movemario ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

.image-mobile-projects {
    display: none;
}

#new-img {
    width: 536px;
    height: auto;
}


@keyframes movewm {
    from {
        opacity: 0;
        translate: -31.25rem 0;
    }

    to {
        opacity: 1;
        translate: 0.0;
    }
}

@keyframes movelinkbio {
    from {
        opacity: 0;
        translate: 31.25rem 0;
    }

    to {
        opacity: 1;
        translate: 0.0;
    }
}

@keyframes movemario {
    from {
        opacity: 0;
        translate: -31.25rem 0;
    }

    to {
        opacity: 1;
        translate: 0.0;
    }
}

@media screen and (max-width: 1400px) {
    .projects {
        margin-top: 5rem;
        flex-direction: column;
    }

    .exemple-project {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.875rem;
    }

    .description-project {
        width: 100%;
    }

    .exemple-project img {
        width: 18.75rem;
    }

    .exemple-project:nth-child(3) img:nth-child(3) {
        display: none;
    }

    .image-mobile-projects {
        display: block;

    }

    .image-mobile-projects img:nth-child(1) {
        width: 12.5rem;
    }

    #new-img {
        width: 18.75rem;
        height: auto;
    }
}

