
.services {

    & .title-services {
        display: flex;
        justify-content:  center;
    }

    & .title-services h2 {
    font-weight: 500;
    font-size: 40px;
    }


    & .all-services {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 44px 97px;
    }

    & .my-services {
        max-width: 450px;
        border: 2px solid var(--stroke-color);
        background-color: #f7f7f7;
        border-radius: 10px;
        padding: 22px 8px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }

    & .description-services {
        display: flex;
    }

}
