.about {
    margin-top: 15.625rem;
    display: flex;
    flex-direction: column;
    animation: aboutmove ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

.title-about {
    display: flex;
    justify-content: center;
    margin-top: 2.9375rem;
}

.title-about h2 {
    font-family: "Poppins", sans-serif;
    font-size: 3.375rem;
    font-weight: 600;
    color: #007bff;
}

.about-me {
    width: 90%;
    margin: 3.75rem auto;
    display: flex;
    padding-block: 5.625rem;
    padding-inline: 5.625rem;
    justify-content: space-between;
    align-items: center;
}

.description-about-me {
    text-align: center;
    width: 43.75rem;
}

.description-about-me p {
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

.image-about-me img {
    width: 20.625rem;
    height: 20.625rem;
    border-radius: 50%;
    object-fit: cover;
}

@keyframes aboutmove {
    from {
        opacity: 0;
        translate: -43.75rem 0;
    }

    to {
        opacity: 1;
        translate: 0.0;
    }
}

@media screen and (max-width: 1400px) {
    main {
        padding-inline: 10px;
    }
    
    .about {
        margin-top: 110px;
        width: 100%;
    }

    .about-me {
        flex-direction: column;
        gap: 50px;
        width: 100%;
        padding: 40px 20px;
    }

    .image-about-me img {
        width: 200px;
        height: 200px;
    }

    .description-about-me {
        width: 100%;
    }

    .description-about-me p {
        font-size: 16px;
        text-align: center;
    }
}