.sobre-mim {
    display: flex;
    padding-inline: 100px;
    margin-top: 130px;
}

.sobre-mim .image-sobre-mim {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-mim .image-sobre-mim img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.sobre-mim .descricao-sobre-mim {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    text-align: justify;
}

.sobre-mim .descricao-sobre-mim h2 {
    font-family: var(--font);
    font-size: 30px;
    color: var(--color-titulo);
}

.sobre-mim .descricao-sobre-mim p {
    margin-top: 50px;
    font-family: "Roboto", serif;
    font-size: 25px;
}