.container {
    background: var(--color-button);
    color: #fff;

    font-size: 20px;
    font-weight: 500;

    border: none;
    border-radius: 10px;
    outline: none;

    padding: 14px 33px;

    display: flex;
    align-items: center;
    gap: 15px;

    text-align: center;
}