.container {
    width: 100%;
    height: auto;

    background: var(--color-background-secondary);
    color: #fff;

    margin-top: 50px;

    padding: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 50px;
}

.container h2 {
    font-size: 34px;
    font-weight: 500;

    max-width: 600px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 350px;
}

input {
    width: 100%;

    padding: 18px;

    background: var(--color-background-tertiary);

    border: none;
    border-radius: 10px;
    outline: none;

    color: #fff;

    font-size: 16px;
}

form button {
    width: 100%;

    padding: 12px;

    font-size: 18px;

    background: var(--color-button);
    color: #fff;

    margin-top: 10px;

    border: none;
    border-radius: 10px;
    outline: none;

    cursor: pointer;

    transition: opacity 0.3s ease-in-out;
}

form button:hover {
    opacity: 0.6;
}

.popup {
    background: var(--color-button);
    
    padding: 12px;
}

.popup p {
    font-size: 18px;
    font-weight: 500;
    
    margin-bottom: 15px;
}

.popup button {
    background-color: #000;
    color: #fff;

    border: none;
    outline: none;

    padding: 12px;

    font-size: 16px;

    cursor: pointer;
}


@media screen and (max-width: 860px) {
    .container h2 {
        font-size: 28px;

        max-width: 300px;
    }
}

@media screen and (max-width: 610px) {
    .container {
        flex-direction: column;
        gap: 30px;

        padding: 30px;
    }

    .container h2 {
        text-align: center;

        max-width: 100%;
    }

    form {
        width: 100%;
    }
}