.container {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 57px;

    margin-top: 87px;
}

.container h2 {
    text-align: center;

    font-size: 38px;
    font-weight: 500;
    color: #fff;
}

.container .infos {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .infos .description {
    max-width: 537px;
}

.container .infos .description p {
    color: #fff;

    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

.container .infos .technologys {
    display: flex;
    flex-direction: column;
    gap: 20px;

    max-width: 430px;
}

.container .infos .technologys h3 {
    font-size: 22px;
    font-weight: 500;

    color: #fff;
}

.container .infos .technologys .technology {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
} 

.container .infos .technologys .technology img {
    width: 66px;
    height: auto;
} 

@media screen and (max-width: 1260px) {
    .container .infos {
        flex-direction: column;
        gap: 30px;
    }    
}

@media screen and (max-width: 610px) {
    .container h2 {
        font-size: 30px;
    }
}

