.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 65px;

    color: #fff;

    padding-bottom: 30px;
}

.container .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .top > img {
    width: 111px;
    height: auto;
}

.container .top a {
    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;

    color: #fff;

    font-size: 16px;
    font-weight: 500;

    transition: color 0.3s ease-in-out;

}

.container .top a:hover {
    color: var(--color-red);
}

.container .line {
    width: 100%;
    height: 1px;

    background: var(--color-button);
}

.container .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .bottom p, a {
    font-size: 16px;
    font-weight: 500;

    text-decoration: none;

    color: #fff;

}

.container .bottom a {
    transition: color 0.3s ease-in-out;
}

.container .bottom a:hover {
    color: var(--color-red);
}

@media screen and (max-width: 610px) {
    .container .top > img {
        width: 80px;
        height: auto;
    }
}