.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    margin-top: 87px;
}

.container h2 {
    font-size: 38px;
    font-weight: 500;

    text-align: center;

    color: #fff;
}

.container .allProjects {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 610px) {
    .container h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 430px) {
    .container {
        margin-top: 67px;
    }
    
    .container h2 {
        font-size: 24px;
    }
}