* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Figtree", sans-serif;
}


:root {

    --color-red: #e50914;

    --color-background: #101010;
    --color-background-secondary: #1A1A1A;
    --color-background-tertiary: #323232;
    --color-button: linear-gradient(to right, #EA343F 9%, #E50914 100%);
}

body {
    padding: 0 125px;

    background: var(--color-background);
}